<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data-Mining_Project Task-1</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<center><b><h1>Jeet Bhalodi (23031701006)</b></center> 
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [2]:
import pandas as pd
import numpy as nump
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Tdata.csv')
df

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [14]:
df=df.drop('Transaction',axis=1)

In [16]:
df

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0
5      0       0       1     1    1     0

### Step 3: Count Single Items
See how many transactions include each item.

In [18]:
df.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [70]:
from itertools import combinations

def find_freqent_itemsets(df, min_support):
    n = len(df)
    result = []
    
    for k in [1, 2, 3]: 
        for items in combinations(df.columns, k):
            mask = df[list(items)].all(axis=1)
            print("items",items, "masks",mask.sum())
            support = mask.sum() / n
            print(f"{set(items)} -> support: {round(support, 2)} ")
        if support >= min_support:
            result.append((frozenset(items),round(support, 2)))
    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [78]:
frequent_itemsets= find_freqent_itemsets(df,min_support=0.5)
frequent_itemsets

for itemset,support in frequent_itemsets:
    print(f"{set(itemset)}->support :{support}")

items ('bread',) masks 5
{'bread'} -> support: 0.83
items ('butter',) masks 3
{'butter'} -> support: 0.5
items ('coffee',) masks 2
{'coffee'} -> support: 0.33
items ('eggs',) masks 2
{'eggs'} -> support: 0.33
items ('jam',) masks 2
{'jam'} -> support: 0.33
items ('milk',) masks 3
{'milk'} -> support: 0.5
items ('bread', 'butter') masks 3
{'butter', 'bread'} -> support: 0.5
items ('bread', 'coffee') masks 1
{'bread', 'coffee'} -> support: 0.17
items ('bread', 'eggs') masks 1
{'bread', 'eggs'} -> support: 0.17
items ('bread', 'jam') masks 1
{'bread', 'jam'} -> support: 0.17
items ('bread', 'milk') masks 3
{'bread', 'milk'} -> support: 0.5
items ('butter', 'coffee') masks 0
{'butter', 'coffee'} -> support: 0.0
items ('butter', 'eggs') masks 0
{'butter', 'eggs'} -> support: 0.0
items ('butter', 'jam') masks 1
{'butter', 'jam'} -> support: 0.17
items ('butter', 'milk') masks 2
{'butter', 'milk'} -> support: 0.33
items ('coffee', 'eggs') masks 1
{'eggs', 'coffee'} -> support: 0.17
items ('coffee', 'jam') masks 1
{'jam', 'coffee'} -> support: 0.17
items ('coffee', 'milk') masks 0
{'milk', 'coffee'} -> support: 0.0
items ('eggs', 'jam') masks 1
{'jam', 'eggs'} -> support: 0.17
items ('eggs', 'milk') masks 1
{'milk', 'eggs'} -> support: 0.17
items ('jam', 'milk') masks 0
{'jam', 'milk'} -> support: 0.0
items ('bread', 'butter', 'coffee') masks 0
{'butter', 'bread', 'coffee'} -> support: 0.0
items ('bread', 'butter', 'eggs') masks 0
{'butter', 'bread', 'eggs'} -> support: 0.0
items ('bread', 'butter', 'jam') masks 1
{'butter', 'bread', 'jam'} -> support: 0.17
items ('bread', 'butter', 'milk') masks 2
{'butter', 'bread', 'milk'} -> support: 0.33
items ('bread', 'coffee', 'eggs') masks 0
{'eggs', 'bread', 'coffee'} -> support: 0.0
items ('bread', 'coffee', 'jam') masks 0
{'bread', 'jam', 'coffee'} -> support: 0.0
items ('bread', 'coffee', 'milk') masks 0
{'milk', 'bread', 'coffee'} -> support: 0.0
items ('bread', 'eggs', 'jam') masks 0
{'bread', 'jam', 'eggs'} -> support: 0.0
items ('bread', 'eggs', 'milk') masks 1
{'milk', 'bread', 'eggs'} -> support: 0.17
items ('bread', 'jam', 'milk') masks 0
{'bread', 'jam', 'milk'} -> support: 0.0
items ('butter', 'coffee', 'eggs') masks 0
{'butter', 'eggs', 'coffee'} -> support: 0.0
items ('butter', 'coffee', 'jam') masks 0
{'butter', 'jam', 'coffee'} -> support: 0.0
items ('butter', 'coffee', 'milk') masks 0
{'butter', 'milk', 'coffee'} -> support: 0.0
items ('butter', 'eggs', 'jam') masks 0
{'butter', 'jam', 'eggs'} -> support: 0.0
items ('butter', 'eggs', 'milk') masks 0
{'butter', 'milk', 'eggs'} -> support: 0.0
items ('butter', 'jam', 'milk') masks 0
{'butter', 'jam', 'milk'} -> support: 0.0
items ('coffee', 'eggs', 'jam') masks 1
{'eggs', 'jam', 'coffee'} -> support: 0.17
items ('coffee', 'eggs', 'milk') masks 0
{'milk', 'eggs', 'coffee'} -> support: 0.0
items ('coffee', 'jam', 'milk') masks 0
{'milk', 'jam', 'coffee'} -> support: 0.0
items ('eggs', 'jam', 'milk') masks 0
{'milk', 'jam', 'eggs'} -> support: 0.0
{'milk'}->support :0.5

### Step 6 Display as a DataFrame

In [74]:
freq_df=pd.DataFrame(frequent_itemsets,columns=['Itemset','Support'])

for itemset,support in frequent_itemsets:
    print(f"{set(itemset)}->support :{support}")

{'milk'}->support :0.5

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools